albums/userpics/1*/
include/config.inc.php
include/updates.inc.php
php_mail.log

logs/*
!logs/index.html

albums/edit/*
!albums/edit/index.php
!albums/edit/no_FTP-uploads_into_this_folder!.txt

sv_*
.git*
.htaccess
php.ini
vendor
