<?php
// Coppermine configuration file

// Database configuration
$CONFIG['dbtype'] =					'mysqli';		// Your database type
$CONFIG['dbserver'] =				'localhost';		// Your database server
$CONFIG['dbuser'] =					'root';		// Your database username
$CONFIG['dbpass'] =					'';		// Your database password
$CONFIG['dbname'] =					'coppermine';		// Your database name


// DATABASE TABLE NAMES PREFIX
$CONFIG['TABLE_PREFIX'] =			'cpg16x_';
